div
  padding: 2px 5px
  min-height: 30px
  line-height: 1
  -webkit-transition: 0.1s
  transition: 0.1s

.header1
  color: #1565C0
  font-size: 25pt
  margin-top: 25px

.header2
  color: #1565C0
  font-size: 22pt
  opacity: 0.8
  margin-top: 20px

.header3
  color: #1565C0
  font-size: 20pt
  opacity: 0.6
  margin-top: 10px

.header4
  color: #555555
  font-size: 18pt
  margin-top: 5px

.normal
  color: #777777
  font-size: 17pt

.selected
    // background-color: #FFF59D
    // border-radius: 10px
