<section @loadPage id="note-header">
  <section id="note-header-left">
    <md-icon (click)="back()" mdTooltip="choose a different note">arrow_back</md-icon>

    <h3 mdTooltip="click to change title" >{{notePath}}</h3>

  </section>
<md-icon id="save-icon" mdTooltip="save" (click)="save()">save</md-icon>
</section>
<!-- <section [@loadPage]="notePath" *ngIf="false"> -->
<section [@loadPage]="notePath" *ngIf="dbNote">

  <section id="work-wrapper">



      <md-card  [style.top]="editorBoxCoords.top+'px'" [style.right]="editorBoxCoords.right+'px'" id="editorbox-card">
        <textarea autofocus #editorbox  id="editorbox" placeholder="insert text here" [formControl]="currentLineFormControl" (keydown)="keyCliked($event, editorbox)"></textarea>
      </md-card>

      <md-card id="editor-card">
        <md-card-content #viewer id="viewer">
          <formatted-line *ngFor="let line of workingLineArry; let i = index;"
            [workingLineData]="line"
            index="{{i}}"
            selected="{{(workingLineIdx==i)?'selected':''}}"
            (onClick)="lineClicked(i)"></formatted-line>
        </md-card-content>
      </md-card>








  </section>
</section>

<!-- <section id="editor-wrapper">
  <section id="editor-header">
    <section id="editor-header-left">
      <button (click)="format('bold', $event)">
        <md-icon >format_bold</md-icon>
      </button>
      <button (click)="format('italic', $event)">
        <md-icon >format_italic</md-icon>
      </button>
      <button (click)="format('underline', $event)">
        <md-icon >format_underline</md-icon>
      </button>
    </section>
    <section id="editor-header-right">
      <md-icon mdTooltip="save" (click)="save()">save</md-icon>
    </section>

  </section>
  <section #editorBox id="editor-box" contenteditable="true" [innerHTML]="formattedNotes.value | sanitizeHtml" (keyup)="keyUp.next($event)" >
  </section>
</section> -->




<!-- <quill-editor #viewer [readOnly]="true" (onContentChanged)="updateContents($event)">
  <div quill-editor-toolbar>
    <span class="ql-formats">
      <button class="ql-bold" [title]="'Bold'"></button>
      <button class="ql-italic" [title]="'Italic'"></button>
      <button class="ql-underline" [title]="'Underline'"></button>
    </span>
  </div>
</quill-editor> -->
