<section id="directory-wrapper" [@loadPage]="page" *ngIf="userProfile != 'dirty' && page">


  <section id="directory-header">
    <mat-card>
      <mat-card-header id="header-wrapper">
        <section id="path-wrapper" >
          <div class="path">
            <div (click)="home()">Home</div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>


          <div class="path" *ngFor="let p of paths; let i = index;">
            <div (click)="climbTo(p,i)">
              {{p}}
            </div><mat-icon *ngIf="i < paths.length-1">keyboard_arrow_right</mat-icon>
          </div>
        </section>
      </mat-card-header>
    </mat-card>
  </section>
  <button mat-fab id="add-folder-fab"  mdTooltip="new note" (click)="createNote()"><mat-icon>add_box</mat-icon></button>
  <button mat-fab id="add-note-fab"  mdTooltip="new folder" (click)="createFolder()"><mat-icon>create_new_folder</mat-icon></button>
  <!-- <mat-menu #menu="mdMenu">
    <button mat-menu-item (click)="createNote()"><mat-icon >add_box</mat-icon> new file </button>
    <button mat-menu-item (click)="createFolder()"><mat-icon >create_new_folder</mat-icon> new folder</button>
  </mat-menu> -->
  <section id="items-wrapper">
  <section *ngFor="let item of items">

    <mat-card  class="list-item" (click)="dive(item)">
      <mat-card-header *ngIf="hasChildren(item)">
        <section class="item-data-wrapper">
          <section class="folder-icon-wrapper">
            <mat-icon>folder</mat-icon>
          </section>
          <p class="item-title">{{item}}</p>
        </section>
        <!-- <mat-icon mdTooltip="more" [mdMenuTriggerFor]="menu">more_vert</mat-icon> -->
      </mat-card-header>
      <mat-card-header *ngIf="!hasChildren(item)">
        <section class="item-data-wrapper">
          <section class="note-icon-wrapper">
            <mat-icon>description</mat-icon>
          </section>
          <p class="item-title" *ngIf="directoryService">{{item}}</p>
          <!-- {{directoryService.navigatePath(item, page, paths)}} -->
        </section>
        <!-- <mat-icon  mdTooltip="more">more_vert</mat-icon> -->
      </mat-card-header>

    </mat-card>
  </section>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><mat-icon >delete</mat-icon> delete </button>
  </mat-menu>
  </section>

</section>
